

.inventory {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  background-color: rgba(0,0,0,0.8);
  padding: 3vw 5px 0 5px;
}


@media screen and (max-width: 600px) {
  .inventory .row {
    width: 90%;
  }
}

.row {
  width: 65%;
  min-width: 300px;
  position: relative;
  margin-right: auto;
  margin-left: auto;

}








