.icon-wrapper {
  background-image: url("https://wow.zamimg.com/images/Icon/large/border/default.png");
  height: 64px;
  width: 64x;
  padding: 2px;


}

.icon-img {

  height: 98%;
  width: 98%;
  margin: 1px;
  padding: 3px;


}