
.searchbar {
  min-height: 35px;
  padding: 3px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
}

.input-group .form-control {
  color: grey;
}



.btn-primary.btn-lg {
  color: rgb(236, 229, 224);
  background-color: #0382C1;


}

.btn-primary.btn-lg:hover {
  background-color: darkblue;
}

.searchbar

.searchbar .input-group  {
  width: 100%;
  max-width: 800px;
}


