
.searchbar {
  min-height: 35px;
  padding: 3px;
  position: relative;
  display: inline-flex;
  justify-content: center;

  width: 100%;
}

.input-group .form-control {
  color: grey;
}

.btn-primary.btn-lg {
  color: white;
  background-color: #0382C1;

}

.btn-primary.btn-lg:hover {
  background-color: darkblue;
}

.searchbar .input-group  {
  width: 90%;
  max-width: 800px;
}


