.searchbar {
  min-height: 35px;
  max-height: 35px;
  opacity: 0.97;
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  min-width: 600px;
  width: 40%;
  max-width: 640px;
  z-index: 999;
}

@media screen and (max-width: 600px) {
  .searchbar {
    min-width: 90vw;
  }
}

.input-group .form-control {
  color: grey;
  border: 1px solid #1c406d;
}

.btn-outline-secondary {
  color: rgb(236, 229, 224);
  background-color: #0382c1;
  border-color: #1c406d;
}

.btn-outline-secondary:hover {
  background-color: #1c406d;
  border-color: #1c406d;
}
