

.inventory-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  min-width: 215px;
  position: relative;

}



.inventory-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 215px;
  font-size: 15px;
  position: relative;
  padding-bottom: 5px;

}

.label-title {
  font-size: 15px;
}

.label-title i {
  color: grey;
  font-size: 12px;
}

.inventory-left .left-label {
  display: flex;
  align-items: center;
  min-width: 200px;
  position: relative;
  text-align: left;
}



.inventory-right .right-label {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  text-align: right;
  font-size: 12px;
}

@media screen and (max-width: 992px) {
  .inventory .inventory-right .right-label {
    flex-direction: row;
    text-align: left;
  }
  .inventory .inventory-right {
    align-items: flex-start;
    text-align: left;
  }
}



#item-quality-undefined {
  color: darkgrey;
}

#item-quality-poor {
  color: #9d9d9d;



}

#item-quality-common {
  color: #ffffff;


}

#item-quality-uncommon {
  color: #1eff00;


}

#item-quality-rare {
  color: #0070dd;


}

#item-quality-epic {
  color: #a335ee;


}

#item-quality-legendary {
  color: #ff8000;


}