

.inventory-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  position: relative;

}



.inventory-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;

  position: relative;
  padding-bottom: 5px;

}

.inventory-left .left-label {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  text-align: left;
  font-size: 12px;


}



.inventory-right .right-label {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-direction: row-reverse;
  text-align: right;
  font-size: 12px;

}

@media screen and (max-width: 992px) {
  .inventory .inventory-right .right-label {
    flex-direction: row;
  }
}


#item-quality-poor {
  color: #9d9d9d;


}

#item-quality-common {
  color: #ffffff;


}

#item-quality-uncommon {
  color: #1eff00;


}

#item-quality-rare {
  color: #0070dd;


}

#item-quality-epic {
  color: #a335ee;


}

#item-quality-legendary {
  color: #ff8000;


}