.inventory-bottom {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin: 5px auto 5px auto;
  padding-bottom: 5px;
}

.inventory-bottom .bottom-label {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  white-space: normal;
  max-width: 70px;
  margin: 10px;
}

#item-quality-undefined {
  color: darkgrey;
}

.bottom-label i {
  color: grey;
  font-size: 15px;
}


@media screen and (max-width: 600px) {
  .inventory-bottom {
    justify-content: center;
    width: 85%;
    margin: 0;
  }
  .inventory-bottom .bottom-label {
    margin: 0px;
  }
}
