.inventory-bottom  {
  display: flex;
  text-align: center;
  align-self: center;
  justify-content: space-between;
  width: 70%;
  margin: 5px auto 5px auto;
  padding-top: 5px;
}


.inventory-bottom .bottom-label {

  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  white-space: normal;
  width: 66px;
}










