.player {
  position:relative;
  display: flex;
  justify-content: center;
  padding-top: 30px;
  width:100%;
}

.player-area-rogue {
  background-image: url("https://i.imgur.com/MCiw1vw.jpg");
  background-size: cover;
}

.player-area-hunter {
  background-image: url("https://i.imgur.com/imOT6iL.jpg");
  background-size: cover;
}

.player-area-druid {
  background-image: url("https://i.imgur.com/Ob3ScSl.jpg");
  background-size: cover;
}

.player-area-warlock {
  background-image: url("https://i.imgur.com/95rcgS7.jpg");
  background-size: cover;
}

.player-area-paladin {
  background-image: url("https://i.imgur.com/JP8Gl2N.jpg");
  background-size: cover;
}

.player-area-warrior {
  background-image: url("https://i.imgur.com/zksnzOE.jpg");
  background-size: cover;
}

.player-area-priest {
  background-image: url("https://i.imgur.com/WdvVXDq.jpg");
  background-size: cover;
}

.player-area-mage {
  background-image: url("https://i.imgur.com/jEEi4Sm.jpg");
  background-size: cover;
}

.player-area-shaman {
  background-image: url("https://i.imgur.com/92yXUuM.jpg");
  background-size: cover;
}

@media screen and (max-width: 992px) {
  .player {
    width: 100%;

  }
  .player-header {
    padding: 0;
    width: 100%;
  }
}


.player-header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 20px;

}

.player-info {
  text-align: right;
  margin: 10px;
}

.player-header h1 {
 font-size: 33px;
 padding: 10px;
}

.class-icon {
  clip-path: circle(50% at 50% 50%);
  text-align: center;
  margin: 5px;
}

.player-class-Druid {
  color: #FF7D0A;
}

.player-class-Warrior {
  color: #C79C6E;

}

.player-class-Mage {
  color: #69CCF0;
}


.player-class-Paladin {
  color: #F58CBA;
}


.player-class-Priest {
  color: #FFFFFF;
}

.player-class-Rogue		{
  color:#FFF569;
}
.player-class-Shaman	{
  color:#0070DE;
}
.player-class-Warlock		{
  color:#9482C9;
}
.player-class-Hunter		{
color: #ABD473;
}