.player-wrapper {
  display: flex;
  margin-top: 5px;
  min-width: min-content;
  justify-content: center;
  flex-direction: column;
}

.player-results {
  backdrop-filter: blur(3.5px);
  border-radius: 2px;
}

.player-inventory {
  display: flex;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  flex-direction: column;
}

.player {
  display: flex;
  color: rgb(182, 176, 172);
  width: 100%;
  justify-content: flex-start;
}

.rank {
  display: flex;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  color: grey;
  margin-top: 15px;
  padding-left: 15px;
}

.rank h4 {
  font-size: 50px;
}

@media screen and (max-width: 992px) {
  .player-wrapper {
    max-width: 97%;
    margin: 0 3% 0 3%;
    min-width: 93%;
  }
}

@media screen and (max-width: 600px) {
  .player-wrapper {
    min-width: 95%;
    max-width: 99%;
    margin: 0 1% 0 1%;
  }
}

#background-image {
  background-size: auto 100%;
}

.background-Assassination-Rogue {
  background-image: url("https://www.scrollsoflore.com/gallery/albums/wow_talents/rogue_assassination.jpg");
}

.background-Subtlety-Rogue {
  background-image: url("https://www.scrollsoflore.com/gallery/albums/wow_talents/rogue_subtlety.jpg");
}
.background-Combat-Rogue {
  background-image: url("https://www.scrollsoflore.com/gallery/albums/wow_talents/rogue_combat.jpg");
}

.background-Marksmanship-Hunter {
  background-image: url("https://www.scrollsoflore.com/gallery/albums/wow_talents/hunter_marksmanship.jpg");
}

.background-Survival-Hunter {
  background-image: url("https://www.scrollsoflore.com/gallery/albums/wow_talents/hunter_survival.jpg");
}
.background-BeastMastery-Hunter {
  background-image: url("https://www.scrollsoflore.com/gallery/albums/wow_talents/hunter_beastmastery.jpg");
}

.background-Feral-Druid-Tank,
.background-Feral-Druid-DPS {
  background-image: url("https://www.scrollsoflore.com/gallery/albums/wow_talents/druid_feral.jpg");
}

.background-Druid-Healer {
  background-image: url("https://www.scrollsoflore.com/gallery/albums/wow_talents/druid_restoration.jpg");
}

.background-Balance-Druid-DPS {
  background-image: url("https://www.scrollsoflore.com/gallery/albums/wow_talents/druid_balance.jpg");
}

.background-Affliction-Warlock {
  background-image: url("https://www.scrollsoflore.com/gallery/albums/wow_talents/warlock_affliction.jpg");
}
.background-Demonology-Warlock {
  background-image: url("https://www.scrollsoflore.com/gallery/albums/wow_talents/warlock_demonology.jpg");
}
.background-Destruction-Warlock {
  background-image: url("https://www.scrollsoflore.com/gallery/albums/wow_talents/warlock_destruction.jpg");
}

.background-Warrior {
  background-image: url("https://www.scrollsoflore.com/gallery/albums/wow_talents/warrior_arms.jpg");
}

.background-Fury-Warrior {
  background-image: url("https://www.scrollsoflore.com/gallery/albums/wow_talents/warrior_fury.jpg");
}

.background-Warrior-Tank {
  background-image: url("https://www.scrollsoflore.com/gallery/albums/wow_talents/warrior_protection.jpg");
}

.background-Retribution-Paladin {
  background-image: url("https://www.scrollsoflore.com/gallery/albums/wow_talents/paladin_combat.jpg");
}

.background-Paladin-Tank {
  background-image: url("https://www.scrollsoflore.com/gallery/albums/wow_talents/paladin_protection.jpg");
}

.background-Paladin-Healer {
  background-image: url("https://www.scrollsoflore.com/gallery/albums/wow_talents/paladin_holy.jpg");
}

.background-Priest-Healer {
  background-image: url("https://www.scrollsoflore.com/gallery/albums/wow_talents/priest_holy.jpg");
}

.background-Shadow-Priest {
  background-image: url("https://www.scrollsoflore.com/gallery/albums/wow_talents/priest_shadow.jpg");
}

.background-Arcane-Mage {
  background-image: url("https://www.scrollsoflore.com/gallery/albums/wow_talents/mage_arcane.jpg");
}

.background-Fire-Mage {
  background-image: url("https://www.scrollsoflore.com/gallery/albums/wow_talents/mage_fire.jpg");
}

.background-Mage {
  background-image: url("https://www.scrollsoflore.com/gallery/albums/wow_talents/mage_frost.jpg");
}

.background-Frost-Mage {
  background-image: url("https://www.scrollsoflore.com/gallery/albums/wow_talents/mage_frost.jpg");
}

.background-Elemental-Shaman {
  background-image: url("https://www.scrollsoflore.com/gallery/albums/wow_talents/shaman_elemental.jpg");
}

.background-Shaman-Healer {
  background-image: url("https://www.scrollsoflore.com/gallery/albums/wow_talents/shaman_restoration.jpg");
}

.background-Enhancement-Shaman {
  background-image: url("https://www.scrollsoflore.com/gallery/albums/wow_talents/shaman_enhancement.jpg");
}
