

h1, h3, h5 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  color: rgb(236, 229, 224);
}

p {
  white-space: normal;
  color: rgb(236, 229, 224);
}


.App {
  margin-top: 0;
  padding: 10vh auto 10vh auto;
  background-color: black;

}

.main-container {
  background-color: black;
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 80%;
  align-items: center;
  width: 100%;
}

