h1 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  color: rgba(230, 226, 223, 0.99);
}

h2,
h3,
h4,
h5 {
  font-family: "Source Sans Pro", sans-serif;
  color: rgba(209, 206, 203, 0.98);
}

ul,
li {
  font-size: 13px;
}

.error-message {
  color: lightsalmon;
  text-align: center;
}

.greeting {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: rgb(236, 229, 224);
  font-size: 17px;
  padding-top: 4px;
  opacity: .85;
  text-align: center;
}

p {
  white-space: normal;
  color: grey;
}

.footer {
  background-color: black;
  color: rgb(236, 229, 224);
  position: absolute;
  bottom: 0;
  opacity: .5;
  width: 100%;
  font-size: 12px;
  text-align: center;
}

.App {
  margin-top: 0;
  min-height: 100%;
  min-width: 100%;
  max-width: 100%;
  padding-bottom: 7vw;
  padding-top: 20px;
  position: relative;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
