.ranking {
  font-size: 29px;
  font-family: "Open Sans", sans-serif;
  color: rgb(225, 220, 220);
  margin: 10px 0 0 10px;
}

.ranking-wrapper {
  margin: auto 0px auto 10px;
}

.ranking-medal-icon {
  width: 2.7rem;
  height: auto;
  margin-right: -4px;
  padding-bottom: 3px;
}

.error-ranking {
  margin-left: 15px;
}
