.ranking {
  font-size: 29px;
  font-family: "Open Sans", sans-serif;
  color: rgb(225, 220, 220);
  margin: 0 0 0 10px;
  width: fit-content;
}

.ranking-wrapper {
  margin: auto 5px auto 10px;
}

.ranking-medal-icon {
  width: 2.7rem;
  height: auto;
  margin-right: -4px;
  padding-bottom: 3px;
}

.spinner-wrapper {
  padding-left: 15px;
  width: 100%;
  transition-delay: 15s;
}

.error-ranking {
  margin-left: 15px;
  font-size: 29px;
  color: grey;
}
